.sec{
    max-width: 650px;
    margin: 150px auto;
    border: 1px solid black;
    padding: 50px;
    background-color: #BB9AB1;
    border-radius: 10px;
    text-align: center;
}
#type{
    width: 25%;
    height: 20px;
}
.nam{
    margin-left: 40px;
}
.amo{
    margin-left: 235px;
}
button{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
}
.hed{
    background-color: blueviolet;
}
table{
    margin-top: 20px;
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
}